* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --colorPrincipal: #48f;
    --colorSecundario: #ffffff;
    --colorTerciera: #000000;
    --colorCuartario: #090e90;
}

body {
    background-color: #f5f5f5;
}

.contentradiantes {
    height: 100vh;
    background:
        radial-gradient(circle at top left, rgba(173, 216, 230, 0.85), transparent 55%),
        radial-gradient(circle at bottom right, rgba(221, 160, 221, 0.85), transparent 55%);
    background-color: #ffffff;
    /* color base opcional */
    z-index: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    z-index: 1000;
}

.header__logo {
    font: 600 30px "Poppins";
    color: var(--colorTerciera);
}

.header__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.list__item {
    margin: 0 10px;
}

.item__link {
    font: 500 20px "Noto Sans";
    color: var(--colorTerciera);
    transition: color .7s ease;
}

.link--blue {
    color: var(--colorPrincipal);
}

.link--hover:hover {
    color: var(--colorPrincipal);
}

/* Section Inicio */
.sectioninicio {
    margin: 100px 0 0 80px;
}

.content__title {
    font: 700 60px "Poppins";
}

.sectioninicio__content .content__title2 {
    display: inline-block;
    font: 700 45px "Poppins";
    margin: -8px 0 5px 0;
}

.sectioninicio__content .content__title2 span {
    display: inline-block;
    position: relative;
    color: transparent;
    -webkit-text-stroke: .07rem var(--colorPrincipal);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.sectioninicio__content .content__title2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}


.content__text {
    font: 400 17px "Montserrat";
    width: 100%;
    max-width: 900px;
    margin: 0 0 20px 0;
}

.content__btn {
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    font: 400 17px "Noto Sans";
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .7s ease, box-shadow .7s ease;
    display: inline-block;
    margin: 0 20px 0 0;
}

.content__btn:hover {
    transform: scale(1.1);
}

.sectioninicio__content i {
    border: 1px solid var(--colorPrincipal);
    border-radius: 50%;
    color: var(--colorPrincipal);
    padding: 10px;
    font: 500 20px "Noto Sans";
    margin: 0 10px 0 0;
    display: inline-block;
    transform: scale(1);
    transition: transform .7s ease;

}

.sectioninicio__content i:hover {
    transform: scale(1.1);
}

.content__cantidad {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 150px;
}

.content__cantidad .cantidad__cards {
    flex: 0 1 150px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cantidad__cards .cards__number {
    font: 800 65px "Noto Sans";
    color: var(--colorPrincipal);
}

.cantidad__cards .cards__title {
    font: 500 15px/1.2 "Poppins";
}


/* Section Service */
.service {
    height: 100vh;
    /* color base opcional */
    z-index: 0;
}

.service__content .content__titulo {
    font: 700 45px "Poppins";
    text-align: center;
    padding: 60px 0 0 0;
    position: relative;

}

.service__content .content__titulo::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 40.1%;
    width: 100%;
    max-width: 80px;
    height: 5px;
    background-color: var(--colorPrincipal);

}

.service__content .titulo__blue {
    color: var(--colorPrincipal);
}

.content__cards {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin: 50px 0 0 0;
}

.card__item {
    flex: 0 1 450px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transform: scale(1);
    transition: transform .7s ease, border .7s ease;
    cursor: pointer;
}

.card__item:hover {
    transform: scale(1.1);
    border: 3px solid var(--colorPrincipal);

}

.item__icon {
    position: relative;
}

.icon__item i {
    font-size: 28px;
    display: flex;
}

.icon__item i:first-child {
    color: var(--colorPrincipal);
    margin: 0 0 15px 10px;
    font-size: 35px;
}

.icon__item i:last-child {
    position: absolute;
    top: -4px;
    right: 20px;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    padding: 7px;
    color: var(--colorSecundario);
}

.card__title {
    color: var(--colorPrincipal);
    font: 600 25px "Poppins";
    margin: 0 0 10px 10px;
}

.card__text {
    font: 500 15px/1.5 "Montserrat";
    padding: 0 0 0 10px;
}

/* Section Resumen */
.resumen {
    padding: 50px 0 0 0;
    height: 100vh;
    /* color base opcional */
    z-index: 0;
}

.resumen__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.container__box .box__title {
    font: 700 50px "Poppins";
    width: 600px;
    margin: 0 0 0 20px;
}

.container__box .box__description {
    font: 500 17px "Montserrat";
    margin: 20px 0 20px 20px;
}

.detalles__resumen {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
}

.detalles__resumen.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translateY(0);
}

.detalles__resumen .resumen__text {
    font: 500 17px "Montserrat";
    margin: 20px 0 20px 0;
}

.detalles__resumen .resumen__title {
    font: 700 50px "Poppins";
    position: relative;
}

.detalles__resumen .resumen__title::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0.2rem;
    width: 100%;
    max-width: 50px;
    height: 5px;
    background-color: var(--colorPrincipal);

}

.title--blue {
    color: var(--colorPrincipal);
}

.container__box .box__button {
    width: 100%;
    max-width: 400px;
    height: 60px;
    outline: none;
    border: none;
    margin: 0 0 20px 20px;
    font: 600 18px "Noto Sans";
    border-radius: 10px;
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    cursor: pointer;
}


.resumen__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 795px;
    height: 550px;
    overflow-y: hidden;
}

.resumen__cards:hover {
    overflow-y: auto;
}

.resumen__cards::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.resumen__cards::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.resumen__cards::-webkit-scrollbar-thumb {
    background: var(--colorPrincipal);
    border-radius: 10px;
}



.cards__item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 4px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    cursor: pointer;
    flex: 0 1 380px;
    border-radius: 10px;
    padding: 10px 20px;

}

.cards__item .item__span {
    font: 800 15px "Noto Sans";
    color: var(--colorCuartario);

}

.cards__item .item__title {
    color: var(--colorPrincipal);
    font: 600 25px "Poppins";
}

.cards__item .item__text {
    font: 500 15px/1.5 "Montserrat";
    margin-top: 15px;

}

.item__referencia i {
    color: var(--colorCuartario);
}

.item__referencia {
    font: 500 16px "Noto Sans";
}

.resumen__skill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 900px;
}

.skill__icon {
    position: relative;
    flex: 0 1 150px;
    background-color: var(--colorPrincipal);
    border-radius: 10px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skill__icon::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--colorCuartario);
    color: #fff;
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
    white-space: nowrap;
    z-index: 10;
    font: 500 20px "Noto Sans";
}

.skill__icon:hover::after {
    opacity: 1;
}

.skill__icon i {
    font-size: 85px;
    color: var(--colorSecundario);
}

.detalles__resumen .resumen__acerca {
    font: 500 17px/1.9 "Montserrat";
    margin: 20px 0 0 0;

}


/* Section portafolio */


/* Section contactos */
.contactos {
    padding: 50px 0 0 0;
    height: 100vh;
    z-index: 0;
}

.contactos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: baseline;
}

.container__item {
    flex: 0 1 600px;
}


.item__informacion .informacion__title {
    font: 700 55px "Poppins";
    margin: 0 0 25px 0;
    position: relative;
}

.item__informacion .informacion__title::before {
    content: "";
    position: absolute;
    bottom: 9px;
    left: 1%;
    background-color: var(--colorPrincipal);
    width: 100%;
    max-width: 60px;
    height: 5px;

}

.title--blue {
    color: var(--colorPrincipal);
}

.item__informacion .informacion__text {
    font: 500 18px/1.3 "Montserrat";
    color: var(--colorTerciera);
    margin: 0 0 25px 0;
}

.icon__opcion {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon__cuadro {
    background-color: var(--colorPrincipal);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcion__title {
    margin: 0;
    font: 600 17px "Poppins";
    color: var(--colorCuartario);
}

.opcion__number {
    margin: 0;
    font: 600 17px "Montserrat";
}

/* Formulario Contactos */
.item__formulario{
    background-color:transparent;
    border-radius: 8px;
    height: 650px;
    
}

.formulario__contactos .contactos__title{
    font: 700 55px "Poppins";
    margin:  0 0 20px 0;
    text-align: center;
}

.formulario__contactos .contactos__input{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 340px));
    column-gap: 2rem; /* puedes aumentar a 2.5rem o más si quieres más espacio */
    row-gap: 1.5rem;  /* espacio entre filas, opcional */
    max-width: 800px; 
    margin: 0 auto; 
}

.formulario__contactos .input--textarea{
    margin-top: 20px;
    
}

.item__box{
    position: relative;

}

.item__box .label{
    font: 500 15px "Montserrat";
    position: absolute;
    color:#8d8d8d ;
    pointer-events: none;
    background-color: transparent;
    left: 25px;
    top: 10px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}


.item__box input{
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    width: 300px;
    height: 55px;
    letter-spacing: 1px;
    outline: none;
}

.item__box textarea{
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    width: 615px;
    min-height: 280px;
    field-sizing: content;
    letter-spacing: 1px;
    outline: none;
    
}

.item__box textarea:focus,
.item__box input:focus{
    outline: none;
    border: 2px solid #0034de;
}

.item__box input:focus~.label,
.item__box input:not(:placeholder-shown)~.label,
.item__box textarea:focus~.label,
.item__box textarea:not(:placeholder-shown)~.label{
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.8);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.box__icon i{
    position: absolute;
    top: 17px;
    left: 92%;
    font: 900 18px "Montserrat";
}

.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display:none ;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.icon--changed i{
    left: 36rem;
}

.input__item .item__message{
    font: 600 15px "Montserrat";
    margin: 15px 0 0px 3px;
    display: none;
}


.formulario__contactos .contactos__advertencia{
    font: 700 15px "Montserrat";
    max-width: 650px;
    background-color: #fd1f1f;
    padding: 20px 15px;
    border-radius: 5px;
    grid-column: span 2;
    margin: 20px 0 0 2px;
    display: flex;
    justify-content: flex-start;
    display: none;
}

.formulario__contactos .contactos__advertencia i{
    font-size: 1.7rem;
    margin: -5px 10px 0 0;
}

.contactos__button{
    grid-column: span 2;
    margin:5px 0 0 30px;
    display: flex;
    justify-content: center;
}

.formulario__contactos .contactos__button .button__formulario{
    font: 700 20px "Montserrat";
    background-color: #48f;
    color: #fff;
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.formulario__contactos .contactos__button .button__formulario:hover{
    background-color: #0034de;
}

.swal2-title {
    font-family:"Poppins";
}
